*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: sans-serif;
    
}
body{
    background-color:rgb(15, 15, 15) ;
}
header{
    
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding:  30px 50px;
    margin:  40px;
    border:  solid 2px;
    border-color: rgb(148, 154, 156);
    padding-left: 5%;
    padding-right: 5%;

}
.logo{
    height: 55px;
    width: 55px;
    

}


.nav1,
.ul1{
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
li{
    padding: 20px;
}
.nav1{
    gap: 100px;
    padding-left: 5%;
   
    

}
a{ 
    color: rgb(72, 143, 177);
    font-size: 14px;
    text-decoration: none;
    
}
main{
    background-color: rgb(15, 15, 15) ;
    display: flex;
    flex-direction: column;
   
    
   
    
    
    
}
#HERO{
    margin-top: 50px;
    padding: 50px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.marvelboton{
    border-radius: 10px;
    font-size: 14px;
    background-color: red;
    padding: 8px;
    color: white;
    border: solid 2px;
}
.DCboton{
    border-radius: 10px;
    font-size: 14px;
    background-color: blue;
    padding: 8px;
    color:white;
    border: solid 2px;
}
.HERO-INFO{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
    
    
}
.HERO-INFO h1{
    font-size: 50px;
    width: 80%;
    font-weight: 700;
    color: rgb(220, 229, 233) ;
}
.HERO-INFO p{
    font-size: 14px;
    width: 60%;
    color: grey
}
.img{
    padding: 20px 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: solid 4px;
    border-color: rgb(139, 134, 134);
}